.dialogItem {
	border-bottom: 1px solid lightgray;
	font-size: 1em;
}

.dialogItem:hover {
	background: #f0f3f4;
}

.dialogItem:last-child {
	border-bottom: none;
}

.dialogItem a {
	display: block;
	padding: 1em;
	text-decoration: none;
	color: gray;
	outline: none;
}