.users {
	overflow: hidden;
	margin-bottom: 3em;
}

.users_user {
	box-sizing: border-box;
	width: calc(50% - 2em);
	float: left;
	margin: 0.5em;
	padding: 1em;
	background-color: #f7f9f9;
	overflow: hidden;
}

.users_user_pict {
	width: 30%;
	margin: 0;
	padding: 0;
	border: 1px solid lightgray;
	border-radius: 5px;
	float: left;
}

.users_user_pict img {
	width: 100%;
}

.users_user_pict p {
	margin: 0;
	padding: 0;
}

.users_user_pict img {
	border-radius: 4px 4px 0 0;
}

.users_user_pict figcaption {
	margin-top: -5px;
	padding: 0.2em;
	font-size: 1em;
	text-align: center;
}

.users_user_list {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: 35%;
	text-align: left;
}

.users_user_list span {
	color: gray;
	font-size: 1.1vw;
}

.users_user_btn {
	padding-top: 0.5em;
	clear: both;
	text-align: left;
}

.users_user_btn button {
	background-color: inherit;
	border: none;
	font-size: 0.8em;
	cursor: pointer;
}

.users_user_btn button span {
	background-color: inherit;
	color: #2980b9;
}

.users_pagination {
	width: 75%;
	margin: 0 auto;
	margin-bottom: 3em;
}

.users_pagination_btn {
	width: 6%;
	display: inline-block;
	padding: 0.2em;
	margin: 0 2px;
	color: gray;
	font-size: 1.5em;
	cursor: pointer;
	text-align: center;
}

.users_pagination_btn:hover {
	background-color: #f0f3f4;
}

.users_pagination_btn__curr {
	background-color: lightgray;
}

.users_pagination button {
	padding: 0.2em;
	border: none;
	background-color: inherit;
	font-size: 1.5em;
	cursor: pointer;
}

.users_pagination button:hover span {
	color: #2980b9;
}



.users_pagination button span {
	background-color: inherit;
}

