.posts {
	background-color: white;
	border-radius: 5px 0px 8px 10px;
}

.newPost {
	padding: 30px;
	overflow: hidden;
}

.newPost h2 {
	font-size: 18px;
	float: left;
	padding-right: 10px;
	color: green;
}

.newPost textarea {
	width: 80%;
}

.allPosts {
	
}