.posts_form {
	margin-top: 1em;
}

.posts_form > div {
	display: block;
	margin-top: 1em;
}

.posts_form textarea {
	width: 90%;
	padding: 1em;
	background-color:  #f7f9f9;
	border: none;
	font-size: 0.7em;
	cursor: pointer;
}

.posts_form button {
	background-color: white;
	border: none;
	padding: 1em;
	color: gray;
	font-size: 0.65em;
	cursor: pointer;
}

.posts_form button:hover {
	background-color:  #f0f3f4;
	color: #2980b9;
}

.posts_form button span {
	background-color: inherit;
}

.posts_form button span:first-child {
	padding: 0 0 10px 0;
}