.nav {
	grid-area: nv;
	background-color: #273746;
	padding: 10px;
}

.item {
	color: white;
	padding: 5px;
	cursor: pointer;
	border: 1px solid transparent;
}

.item a {
	text-decoration: none;
	color: white;
	outline: none;
}

.item a:hover {
	color: yellow;
}

.friends {
	padding: 5px;
	margin-top: 10px;
	color: white;
	overflow: hidden;
}

.friend {
	margin: 5px;
	padding-top: 5px;
	float: left;
}

.friendAva {
	width: 40px;
	height: 30px;
	background-color: red;
	color: white;
	border-radius: 20px;
	text-align: center;
	font-size: 0.8em;
	padding-top: 10px;
}

