.appAside {
	height: 100%;
	border-right-color: black;
    border-right-style: solid;
    border-right-width: 1px;
    border-image: linear-gradient(to top, transparent 0%, gray 40%, gray 60%, transparent 100%);
	border-image-slice: 1;
}

.appAside_menu {
	height: 50%;
	width: 70%;
	margin: 7% auto;
	padding: 0px;
	list-style: none;
	color: gray;
	overflow: hidden;
}

.appAside_menu_item {
	height: 12%;
	width: 100%;
	padding: 2%;
	clear: both;
	border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image: linear-gradient(to right, transparent 0%, gray 40%, gray 60%, transparent 100%);
	border-image-slice: 1;
	cursor: pointer;
}

.appAside_menu_item:hover {
	background: linear-gradient(to right, transparent 0%, #f2f3f4 40%, #f2f3f4 60%, transparent 100%);
}

.appAside_menu_item:last-child {
	border-bottom: none;
}

.appAside_menu_item img {
	height: 100%;
	float: left;
	opacity: 0.8;
}

.appAside_menu_item span {
	display: block;
	padding-top: 2%;
	padding-left: 25%;
	font-size: 1.5vw;
}

.appAside_menu_item a {
	text-decoration: none;
	color: gray;
	outline: none;
}

