/*.nav {
	grid-area: nv;
	background-color: #273746;
	padding: 10px;
}

.item {
	color: white;
	padding: 5px;
	cursor: pointer;
	border: 1px solid transparent;
}

.item a {
	text-decoration: none;
	color: white;
	outline: none;
}

.item a:hover {
	color: yellow;
}

.friends {
	padding: 5px;
	margin-top: 10px;
	color: white;
	overflow: hidden;
}

.friend {
	margin: 5px;
	padding-top: 5px;
	float: left;
}

.friendAva {
	width: 40px;
	height: 30px;
	background-color: red;
	color: white;
	border-radius: 20px;
	text-align: center;
	font-size: 0.8em;
	padding-top: 10px;
}*/

.appAside {
	height: 100%;
	border-right-color: black;
    border-right-style: solid;
    border-right-width: 1px;
    border-image: linear-gradient(to top, transparent 0%, gray 40%, gray 60%, transparent 100%);
	border-image-slice: 1;
}

.appAside_menu {
	height: 40%;
	width: 70%;
	margin: 7% auto;
	padding: 0px;
	list-style: none;
	color: gray;
	overflow: hidden;
}

.appAside_menu_item {
	height: 14%;
	width: 100%;
	padding: 3%;
	clear: both;
	border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image: linear-gradient(to right, transparent 0%, gray 40%, gray 60%, transparent 100%);
	border-image-slice: 1;
	cursor: pointer;
}

.appAside_menu_item:hover {
	background: linear-gradient(to right, transparent 0%, #f2f3f4 40%, #f2f3f4 60%, transparent 100%);
}

.appAside_menu_item:last-child {
	border-bottom: none;
}

.appAside_menu_item img {
	height: 100%;
	float: left;
}

.appAside_menu_item span {
	display: block;
	padding-top: 3%;
	padding-left: 30%;
	font-size: 1.5vw;
}

