.profile_container {
	overflow: hidden;
	margin-bottom: 1em;
}

.profile_photo {
	float: left;
}

.profile_about {
	text-align: left;	
}

.profile_about li {
	padding: 0.5em;
}

.profile_about li > span:first-child {
	color: gray;
}

.profile_photo {
	border: 1px solid lightgray;
	border-radius: 5px;
}

.profile_photo img {
	border-radius: 5px;
}

.profile_photo p {
	margin: 0;
}

.profile_photo figcaption {
	padding: 5px;
}

.profile_contact {
	display: inline-block;
}

.profile_contact a {
	padding: 1em;
}

.profile_contact span {
	background-color: inherit;
	color: #2980b9;
}

.profile_contact a:hover {
	background-color:  #f0f3f4;
	color: blue;
}

.profile_contacts {
	margin-top: 1em;
	margin-bottom: 5em;
}