.postBody {
	font-family: 'Times new roman';
	line-height: 1.2em;
	margin: 5px 0 5px 10px;
	color: green;
	overflow: hidden;
}

.postAva {
	float: left;
}

.postAva img {
	width: 50px;
	border-radius: 25px;
}

.postText {
	margin-left: 60px;
}

.postLike {
	font-size: 0.9em;
	color: blue;
	padding-left: 8px;
}