.post {
	padding-top: 1%;
	border-bottom: 1px solid lightgray;
	overflow: hidden;
}

.post:last-child {
	border-bottom: none;
}

.post_ava {
	float: left;
	width: 10%;
}

.post_ava img {
	width: 100%;
}

.post_message {
	font-size: 1.2vw;
}

.post_likes {
	color: gray;
	font-size: 1.1vw;
}