.login {
	width: 50%;
	margin: 5% auto;
	padding: 1em;
	border: 1px solid lightgray;
	border-radius: 7px;
	font-size: 1em;
}

.login_form > div {
	padding-top: 1.5em;
}

.login_form input {
	padding: 1em;
	outline: none;
	border: none;
	background-color: #f7f9f9;
}

.login_form span {
	font-size: 0.8em;
	color: red;
}

div.common_error {
	padding: 1em;
	border: 1px solid red;
	color: red;
}