.dialogs {
	height: 100%;
	display: grid;
	grid-template-columns: 2fr 10fr;
}

.dialogs_participant {
	border-right-color: black;
    border-right-style: solid;
    border-right-width: 1px;
    border-image: linear-gradient(to top, transparent 0%, gray 40%, gray 60%, transparent 100%);
	border-image-slice: 1;
	color: gray;
}

.dialogs_messages {
	padding: 2%;
}

.dialogs_messages_add {
	padding-top: 2%;
	clear: both;
}

.dialogs_messages_add div:last-child {
	padding-top: 1%;
}